<!DOCTYPE html>

<html lang="ja">
<head>
    <meta charset="utf-8">
    <title><%=title %></title>
    <meta name="description" content="サンプルページ">
    <meta name="keywords" content="HTML,CSS,JavaScript,Node.js">
</head>
<body>
    <header><%=title %></header>
    <div role="main">
        <p><%-content %></p>
    </div>
    <footer>Footer</footer>
</body>
</html>