<h2>ページ1 コンテンツです。</h2>
<p><%= message %></p>
<br>
<form method="post" action="./post">
    <table>
        <tr>
            <th>ID: </th>
            <td>
                <input type="text" name="idname">
            </td>
        </tr>
        <tr>
            <th>PW: </th>
            <td>
                <input type="password" name="pw">
            </td>
        </tr>
        <tr>
            <td rowspan="2">
                <input type="submit">
            </td>
        </tr>
    </table>
</form>

<!-- <p><a href="/page2">page2へ</a></p> -->